# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
server/
scripts/
.env
.env.*

# IntelliJ project files
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code files
.vscode/

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ephemeral/

# Android specific
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/app/release/
android/app/build/
android/app/src/main/assets/

# iOS specific
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flt
ios/DerivedData/
ios/Runner.xcworkspace
ios/Pods/

# macOS specific
macos/Flutter/ephemeral

# Windows specific
windows/flutter/ephemeral
